{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="row pl-5">
        <div class="col-10">
            <h2 class="title">{% trans 'Список кинотеатров' %}</h2>
        </div>

        <div class="col-auto"><a class="btn btn-danger" href="{% url 'cinema_create' %}">{% trans 'Создание кинотеатра' %}</a></div>
    </div>
    <div class="row p-5">
        {% for cinema in cinemas %}
            <div class="col-auto text-center">
                <h3>{{ cinema.name }}</h3>
                 <a href="{% url 'cinema_update' cinema.pk %}" data-toggle="lightbox"
                       data-title="sample 1 - white" data-gallery="gallery" style="text-align: center" id="{{ cinema.name}}">
                        {% if cinema.logo %}

                        <img src="{{ cinema.logo.url }}" height="250" width="250"
                             class="d-block ml-auto mr-auto d-inline">
{#                            <a class="btn btn-danger" href="{% url 'cinema_delete' cinema.id %}">Удалить кинотеатр</a>#}
{#                         <img class="cancel-button-small-checkbox" style=" width: 40px; position: absolute" onclick="{% url 'cinema_delete' pk=cinema.pk %}" src="{% static 'dist/img/cancel-button.png' %}">#}
                        {% else %}
                            <img src="{% static 'dist/img/empty-photo.png' %}" height="250" width="250"
                                 class="d-block ml-auto mr-auto d-inline">
                        {% endif %}
                 <a class="btn btn-danger" href="{% url 'cinema_delete' cinema.id %}">{% trans 'Удалить кинотеатр' %}</a>
                    </a>
            </div>


        {% endfor %}

    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/cinema.js' %}"></script>

{% endblock %}