{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 border border-info">
                <img src="{{ cinemas.banner_up_image.url }}" style="max-width: 100%">
            </div>
        </div>
        <div class="row pt-3 text-center">
            <div class="col-md-2 border border-info">
                <img style="max-width: 100%" src="{% static 'img/reklama1.png' %}">
                <div >{% trans 'Количество залов:' %} {{ hals|length }}</div>
                {% for hall in hals %}
                   <div class="col-auto border border-danger" style="color: black">
                       <a href="{% url 'hall_card' cinemas.pk hall.id %}">
                           <span class="clickable">Зал {{ hall.number }}</span></a>
                   </div>
               {% endfor %}
                <div>{% trans 'Смотрите сегодня' %}</div>
                {% for session in sessions %}
                    <div class="col-auto border border-danger" style="color: black">
                           <span class="clickable" >{{ session.film.title }} в {{ session.dateTime }}</span>
                    </div>
                {% endfor %}
                <div style=" padding-top: 10% "><a type="button" href="{% url 'sessions' %}" class="btn btn-success">{% trans 'Расписание сеансов' %}</a></div>

            </div>
            <div class="col-md-10 border border-info text-center " style="overflow-wrap: break-word">
                <h2>{{ cinemas.name }}</h2>
                <img style="width: 80%" src="{{ cinemas.logo.url }}"><br>
                {{ cinemas.description }}
                <h3>{% trans 'Условия' %}</h3><br>
                {{ cinemas.condition }}

                {% if images %}
                    <div style="padding: 3%"><h3>{% trans 'ФОТОГАЛЕРЕЯ' %}</h3></div>
                        <div class="container p-0" id="news">
                            <div class="w-100">

                                 <div id="carouselNews" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for image in images %}
                                            {% if image == images|first %}

                                        <div class="carousel-item active" data-bs-interval="10000">
                                            <img src="{{ image.image.url }}" class="d-block w-100" height="80%">
                                            <div class="carousel-caption d-none d-md-block fs-2">
                                            </div>
                                        </div>
                                                {% else %}
                                            <div class="carousel-item" data-bs-interval="10000">
                                                <img src="{{ image.image.url }}" class="d-block w-100" height="80%">
                                                <div class="carousel-caption d-none d-md-block fs-2">
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNews"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselNews"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                {% endif %}
            </div>
        </div>


    </div>


{% endblock %}
{% block Seo %}

{% endblock %}

{% block advert %}

{% endblock %}
    <style>

.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  z-index: 1;
}
</style>
