{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 border border-info">
                <img src="{{ cinemas.banner_up_image.url }}" style="width: 100%">
            </div>
        </div>
        <div class="row pt-3 text-center">
            <div class="col-md-2 border border-info">
                <img style="max-width: 100%" src="{% static 'dist/img/reklama1.png' %}">
                <div >{% trans 'Количество залов:' %} {{ hals|length }}</div>
                {% for hall in hals %}
                   <div class="col-auto border border-danger" style="color: black">
                       <a href="{% url 'hall_card' cinemas.pk hall.id %}">
                           <span class="clickable">Зал {{ hall.number }}</span></a>
                   </div>
               {% endfor %}
                <div>{% trans 'Смотрите сегодня' %}</div>
                {% for session in sessions %}
                    <div class="col-auto border border-danger" style="color: black">
                           <span class="clickable" >{{ session.film.title }} в {{ session.dateTime }}</span>
                    </div>
                {% endfor %}
                <div style=" padding-top: 10% "><a type="button" href="{% url 'sessions' %}" class="btn btn-success">{% trans 'Расписание сеансов' %}</a></div>

            </div>
            <div class="col-md-10 border border-info text-center">
                <h2>{{ cinemas.name }}</h2>
                <img style="width: 80%" src="{{ cinemas.logo.url }}"><br>
                {{ cinemas.description }}
                <h3>{% trans 'Условия' %}</h3><br>
                {% for image in images %}
                    <img style="width: 80%" src="{{ image.image.url}}">
                {% endfor %}
            </div>
        </div>


    </div>


{% endblock %}
{% block Seo %}

{% endblock %}

{% block advert %}

{% endblock %}
    <style>

.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
  z-index: 1;
}
</style>
