{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="row">
     <div class="col-md-2 list-group" style="height: 15em; margin-left: 1em; margin: initial; padding-left: 2em">

        <a href="#" id="list_now" class="list-group-item active"><span>{% trans 'Афиша' %}</span></a>
        <a href="#" id="list_soon" class="list-group-item"> <span>{% trans 'Скоро' %}</span></a>
        <img class="d-none .d-lg-block .d-xl-none" src="{% static 'img/reklama1.png' %}">
     </div>
    <div class="col-md-10">
        <div class="row" id="now">
            {% for film in films_now %}
                <div class="col-md-3 p-3 text-center" >
                         <a href="{% url 'film_card' film.pk %}" data-toggle="lightbox"
                               data-title="sample 1 - white" data-gallery="gallery" style="text-align: center" id="{{ film.name}}">
                            {% if film.main_image %}
                            <img  class="img-fluid" src="{{ film.main_image.url }}">
                            {% else %}
                                <img  class="img-fluid" src="{% static 'img/empty-photo.png' %}">
                            {% endif %}
                        </a>
                     <h5>{{ film.title }}</h5>

                    <a type="button" href="{% url 'sessions' film.pk %}" class="btn btn-success">{% trans 'Купить билет' %}</a>
                </div>

            {% endfor %}
        </div>
        <div class="row" id="soon" style="display: none">
            {% for film in films_soon %}
                <div class="col-md-3 p-3 text-center">
                     <a href="{% url 'film_card' film.pk %}" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery" style="text-align: center" id="{{ film.name}}">
                            {% if film.main_image %}
                            <img class="img-fluid" src="{{ film.main_image.url }}">
                            {% else %}
                                <img class="img-fluid"  src="{% static 'img/empty-photo.png' %}">
                            {% endif %}
                        </a>
                    <h5>{{ film.title }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<style>

.list-group {

     margin:auto;
     float:left;
     padding-top:20px;
    }
a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: #0fe7ee; /* устанавливаем нужный цвет */
}
</style>
<script>

$(document).ready(function() {
        $('#soon').hide();
        $('#now').hide();
    if (window.location.pathname.split('/')[3] == 1){
        $('#now').show();
    } else if (window.location.pathname.split('/')[3] == 2){
        $('#list_now').removeClass('active');
        $('#list_soon').addClass('active');
        $('#soon').show();

    }
    $('.list-group-item').click(function(e) {
        e.preventDefault();
        $('.list-group-item').removeClass('active');
        $(this).addClass('active');
    });
    console.log(window.location.pathname.split('/')[3])

        $('#list_now').click(function(e) {
            e.preventDefault();
            $('#now').show();
            $('#soon').hide();
        });
        $('#list_soon').click(function(e) {
            e.preventDefault();
            $('#soon').show();
            $('#now').hide();
        });
});
</script>


{% endblock %}
{% block advert %}
{% endblock %}

{% block Seo %}
{% endblock %}
