{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="row">
            <div class="col-12 border border-info">
                <img style="max-width: 100%" src="{% static 'img/banner.jpg' %}">
            </div>
        </div>
<div class="row p-3">

    <div class="col-md-10 ">

        <div class="row">
            <div class="col-12">
                <h3>{{ promotions.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img style="max-width: 100%; height: 180px" src="{{ promotions.main_image.url }}">

            </div>
             <div class="col-md-6" style="overflow-wrap: break-word">
                {{ promotions.description|urlize }}
            </div>
        </div>
    </div>
     <div class="col-md-2 pt-5">

        <img width="100%" src="{% static 'img/reklama1.png' %}">
     </div>


</div>






{% endblock %}
{% block advert %}
{% endblock %}

{% block Seo %}
{% endblock %}



