{% extends "base_pages.html" %}
{% load i18n %}

{% block disc %}
    <div class="row">
        <div class="col offset-9">
            <a href="#" id="list_ukr" class="list-group-item active"><span>Український</span></a>
            <a href="#" id="list_rus" class="list-group-item"> <span>Русский</span></a>
            <label>{% trans 'Отобразить новость' %}: {{ news_form.state }}</label>
        </div>
    </div>
    <h5>Введите украинскую и русскую версию названия и описания</h5>
    <div class="row">
        <div id="uk">
            <div class="col-auto">{% trans 'Название' %}:  <p>{{ news_form.name_uk }}</p></div>
             <div class="col-auto"><p> {% trans 'Описание' %}: {{ news_form.description_uk }}</p></div>
        </div>
        <div id="ru" style="display: none">
            <div class="col-auto">{% trans 'Название' %}:  <p>{{ news_form.name_ru }}</p></div>
             <div class="col-auto"><p> {% trans 'Описание' %}: {{ news_form.description_ru }}</p></div>
        </div>
        <div class="col-auto">{% trans 'Дата публикации' %}: <p>{{ news_form.date_publication }}</p></div>
    </div>



{% endblock %}

{% block media1 %}
    {{ news_form.main_image }}
{% endblock %}

{% block media2 %}
    <p>{% trans 'Ссылка на видео' %}: {{ news_form.video_url }}</p>
{% endblock %}

{% block button %}

    <input type="hidden" name="type" value="news_create_form">
                <button type="submit" name="page" class="news btn btn-primary btn-lg col-12"
                        value="nodelete">{% trans 'Сохранить' %}</button>
{% endblock %}