{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}





    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">

    <div class="row pl-5">
        <div class="col-10">
            <h2 class="title">{% trans 'Список пользователи' %}</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-11 p-5 text-sm">
            <table id="example" class="table-sm table-responsive table-bordered" >
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% trans 'Дата регистрации ' %}</th>
                    <th scope="col">{% trans 'Дата рождения' %}</th>
                    <th scope="col">Email</th>
                    <th scope="col">{% trans 'Телефон' %}</th>
                    <th scope="col">{% trans 'ФИО ' %}</th>
                    <th scope="col">{% trans 'Псевдоним' %}</th>
                    <th scope="col">{% trans 'Город' %}</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.registration_date|date:"d-m-Y" }}</td>
                        <td>{{ user.birthday_date|date:"d-m-Y" }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.name }} {{ user.surname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.city }}</td>

                        <td style="border: none" width="106">
                            <a href="{% url 'users_update' user.pk %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                            <a href="{% url 'users_delete' user.pk %}">
                          <img src="{% static 'img/del.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            </div>
        </div>

{% endblock %}
{% block scripts %}




    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
     <script>





     $(document).ready(function() {

    $('#example').DataTable({

        "language": {
            "lengthMenu": "Показывать _MENU_ записей на странице",
            "zeroRecords": "Ничего не найдено",
            "info": "Показанно _PAGE_ из _PAGES_",
            "infoEmpty": "Нет записей",
            "infoFiltered": "(Фильтр _MAX_ из всех)",
            "sSearch": "Поиск",
            "oPaginate": {
                "sFirst": "Первая",
                "sLast": "Последняя",
                "sNext": "Следующая",
                "sPrevious": "Предыдущая"
            },
            "pageLength": {
                "_": "Show 5 rows"
            },
            order: [[2, 'desc']],

        }
    })

} );

     </script>
{% endblock %}