{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}


{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">#}

    <div class="row pl-5">
        <div class="col-10">
            <h2 class="title">{% trans 'Список пользователи' %}</h2>
        </div>

    </div>
    <div class="card card-secondary">
        <div class="card-body">
            <table  id="example" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% trans 'Дата регистрации ' %}</th>
                    <th scope="col">{% trans 'Дата рождения' %}</th>
                    <th scope="col">Email</th>
                    <th scope="col">{% trans 'Телефон' %}</th>
                    <th scope="col">{% trans 'ФИО ' %}</th>
                    <th scope="col">{% trans 'Псевдоним' %}</th>
                    <th scope="col">{% trans 'Город' %}</th>

                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.registration_date|date:"d-m-Y" }}</td>
                        <td>{{ user.birthday_date|date:"d-m-Y" }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.name }}{{ user.surname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.city }}</td>

                        <td style="border: none" width="106">
                            <a href="{% url 'users_update' user.pk %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                            <a href="{% url 'users_delete' user.pk %}">
                          <img src="{% static 'img/del.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            </div>
        </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/users.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{#    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>#}
{% endblock %}
