{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="row">
            <div class="col-12 border border-info">
                <img style="max-width: 100%" src="{% static 'img/banner.jpg' %}">
            </div>
        </div>
<div class="row ">

    <div class="col-10">
        <h3 style="text-align: center">{% trans 'Контакты' %}</h3>
        <div class="row" id="now">


                {% for contact in contacts_list %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-3" style="overflow-wrap: break-word"">
                                <h5>{{ contact.name }}</h5>
                            </div>
                            <div class="col-sm-3">
                                <img class="img-fluid" src="{{ contact.logo.url}}">
                            </div>
                            <div class="col-6">
                                <h5>{{ contact.address }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-md-6 pt-3">
                                <img src="{{ contact.logo.url}}" class="img-fluid">
                            </div>
                            <div  class="col-md-6 pt-3">

                               <div class="col-auto" style="overflow:hidden;width: 400px;position: relative;"><iframe width="400" height="300" src="https://maps.google.com/maps?width=400&amp;height=300&amp;hl=en&amp;q={{ contact.x }}{{ contact.y }})&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
                            </div>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>
     <div class="col-2" >

        <img width="100%" src="{% static 'img/reklama1.png' %}">
     </div>


</div>

{#<script>#}
{#$(document).ready(function (){#}
{##}
{#    console.log({{ contacts }})#}
{#    $('#iframe').attr('src', '')#}
{##}
{##}
{#})#}
{##}
{#</script>#}



{% endblock %}
{% block advert %}
{% endblock %}

{% block Seo %}
{% endblock %}



