{% extends "site/KinoCMS.html" %}
{% load i18n %}
{% load static %}



{% block content %}


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="row">
            <div class="col-12 border border-info">
                <img style="max-width: 100%" src="{% static 'img/banner.jpg' %}">
            </div>
        </div>
<div class="row p-3">

    <div class="col-md-10 ">
        <h3 style="text-align: center">{% trans 'Новости' %}</h3>
        <div class="row" id="now">
            {% for new in news %}
                <div class="col-md-4 p-4 text-center" style="overflow-wrap: break-word">
                    {% if new.main_image %}
                        <img src="{{ new.main_image.url }}" height="180" width="100%">
                        {% endif %}
                    <h3>{{ new.name }}</h3>
                {{ new.date_publication|date:"d-m-Y" }}<br>
                <a href="{{ new.video_url }}">{{ new.video_url }}</a><br>
                    {{ new.description| truncatewords:20 }}

                </div>
        {% endfor %}
        </div>
    </div>
     <div class="col-md-2 pt-5">

        <img width="100%" src="{% static 'img/reklama1.png' %}">
     </div>


</div>

{% include "pagination.html" with page=news %}




{% endblock %}
{% block advert %}
{% endblock %}

{% block Seo %}
{% endblock %}



