{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">#}
{#            <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">#}



    <div class="row pl-5">
        <div class="col-10">
            <h2 class="title">{% trans 'Список страниц' %}</h2>
        </div>
        <div class="col-auto"><a class="btn btn-danger" href="{% url 'pages_create' %}">{% trans 'Создание страниц' %}</a></div>
    </div>
    <div class="card card-secondary">
        <div class="card-body">
            <table  id="example" class="table table-hover table-responsive" >
                <thead>
                <tr>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Дата создания' %}</th>
                    <th>{% trans 'Статус' %}</th>
                    <th style="border: none"></th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>{% trans 'Главная страница' %}</td>
                        <td>{{ main_page.date_publication|date:"d-m-Y" }}</td>
                        <td>{% if main_page.state %} {{ 'ВКЛ' }} {% else %} {{ 'ВЫКЛ' }} {% endif %}</td>
                        <td style="border: none" width="106">
                            <a href="{% url 'main_update' main_page.id %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans 'Контакты' %}</td>
                        <td>{{ contacts_page.date_publication|date:"d-m-Y" }}</td>
                        <td>{% if contacts_page.state %} {{ 'ВКЛ' }} {% else %} {{ 'ВЫКЛ' }} {% endif %}</td>
                        <td style="border: none" width="106">
                            <a href="{% url 'contacts_update' %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                        </td>
                    </tr>

                {% for page in main_pages %}
                    <tr>
                        <td>{{ page.name }}</td>
                        <td>{{ page.date_publication|date:"d-m-Y" }}</td>
                        <td>{% if page.state %} {{ 'ВКЛ' }} {% else %} {{ 'ВЫКЛ' }} {% endif %}</td>
                        <td style="border: none" width="106">
                            <a href="{% url 'pages_update' page.pk %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                {% for page in other_pages %}
                    <tr>
                        <td>{{ page.name }}</td>
                        <td>{{ page.date_publication|date:"d-m-Y" }}</td>
                        <td>{% if page.state %} {{ 'ВКЛ' }} {% else %} {{ 'ВЫКЛ' }} {% endif %}</td>
                        <td style="border: none" width="106">
                            <a href="{% url 'pages_update' page.pk %}">
                          <img src="{% static 'img/edit.png' %}"></a>
                            <a href="{% url 'pages_delete' page.pk %}">
                          <img src="{% static 'img/del.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/pages.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{#    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>#}
{% endblock %}